In [34]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
cat_feat_names = ["workclass", "education_level", "marital-status", "occupation", "relationship", "race", "sex",\
                  "native-country"]
num_feat_names = ["age", "education-num", "capital-gain", "capital-loss", "hours-per-week"]

In [107]:
class Data():
    def __init__(self, csv_file, cat_feats, num_feats):
        self.cat_feats = cat_feats
        self.num_feats = num_feats
        self.features = None
        self.target= None
        self.parse_file(csv_file)
        self.X_train = None
        self.X_test = None
        self.y_train = None
        self.y_test = None
    
    def parse_file(self, csv_file):
        df = pd.read_csv(csv_file)
        self.features = df[self.cat_feats + self.num_feats].copy()
        self.target = np.reshape(df["income"].copy().values, (-1,1))
    
    def log_transformation(self, feature):
        self.features[feature] = self.features[feature].apply(lambda x: np.log(x+1))
    
    def scale_data(self):
        self.features = None
    
    def encode_categorical_features(self):
        pass
    
    def preprocess(self):
        self.log_transformation("capital-loss")
        self.log_transformation("capital-gain")

In [108]:
data_ = Data("census.csv",cat_feat_names, num_feat_names)

In [109]:
data_.features[num_feat_names].head(5)

   age  education-num  capital-gain  capital-loss  hours-per-week
0   39           13.0        2174.0           0.0            40.0
1   50           13.0           0.0           0.0            13.0
2   38            9.0           0.0           0.0            40.0
3   53            7.0           0.0           0.0            40.0
4   28           13.0           0.0           0.0            40.0

In [110]:
data_.scale_data

In [111]:
data_.features[num_feat_names].head(5)

   age  education-num  capital-gain  capital-loss  hours-per-week
0   39           13.0        2174.0           0.0            40.0
1   50           13.0           0.0           0.0            13.0
2   38            9.0           0.0           0.0            40.0
3   53            7.0           0.0           0.0            40.0
4   28           13.0           0.0           0.0            40.0

In [95]:
test =data_.features

In [73]:
test.columns

Index(['workclass', 'education_level', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country', 'age', 'education-num',
       'capital-gain', 'capital-loss', 'hours-per-week'],
      dtype='object')

In [96]:
scaler = MinMaxScaler()
pd.DataFrame(scaler.fit_transform(test[num_feat_names]), columns=num_feat_names)

/Users/command/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

            age  education-num  capital-gain  capital-loss  hours-per-week
0      0.301370       0.800000      0.021740      0.000000        0.397959
1      0.452055       0.800000      0.000000      0.000000        0.122449
2      0.287671       0.533333      0.000000      0.000000        0.397959
3      0.493151       0.400000      0.000000      0.000000        0.397959
4      0.150685       0.800000      0.000000      0.000000        0.397959
5      0.273973       0.866667      0.000000      0.000000        0.397959
6      0.438356       0.266667      0.000000      0.000000        0.153061
7      0.479452       0.533333      0.000000      0.000000        0.448980
8      0.191781       0.866667      0.140841      0.000000        0.500000
9      0.342466       0.800000      0.051781      0.000000        0.397959
10     0.273973       0.600000      0.000000      0.000000        0.806122
11     0.178082       0.800000      0.000000      0.000000        0.397959
12     0.082192       0.800000      0.000000      0.000000        0.295918
13     0.205479       0.733333      0.000000      0.000000        0.500000
14     0.232877       0.200000      0.000000      0.000000        0.448980
15     0.109589       0.533333      0.000000      0.000000        0.346939
16     0.205479       0.533333      0.000000      0.000000        0.397959
17     0.287671       0.400000      0.000000      0.000000        0.500000
18     0.356164       0.866667      0.000000      0.000000        0.448980
19     0.315068       1.000000      0.000000      0.000000        0.602041
20     0.506849       0.533333      0.000000      0.000000        0.193878
21     0.246575       0.266667      0.000000      0.000000        0.397959
22     0.356164       0.400000      0.000000      0.468779        0.397959
23     0.575342       0.533333      0.000000      0.000000        0.397959
24     0.534247       0.800000      0.000000      0.000000        0.397959
25     0.027397       0.533333      0.000000      0.000000        0.397959
26     0.301370       0.533333      0.000000      0.000000        0.806122
27     0.438356       0.533333      0.000000      0.000000        0.397959
28     0.082192       0.733333      0.000000      0.000000        0.520408
29     0.041096       0.600000      0.000000      0.000000        0.438776
...         ...            ...           ...           ...             ...
45192  0.109589       0.533333      0.000000      0.000000        0.397959
45193  0.191781       0.533333      0.000000      0.000000        0.397959
45194  0.438356       0.533333      0.000000      0.000000        0.397959
45195  0.589041       0.666667      0.076881      0.000000        0.397959
45196  0.301370       0.800000      0.000000      0.383150        0.397959
45197  0.287671       0.866667      0.000000      0.000000        0.500000
45198  0.356164       0.866667      0.000000      0.436639        0.500000
45199  0.082192       0.533333      0.000000      0.000000        0.397959
45200  0.767123       0.600000      0.000000      0.000000        0.397959
45201  0.246575       0.600000      0.000000      0.000000        0.397959
45202  0.671233       0.533333      0.000000      0.000000        0.071429
45203  0.136986       0.600000      0.000000      0.000000        0.448980
45204  0.315068       0.933333      0.150242      0.000000        0.551020
45205  0.465753       0.533333      0.000000      0.000000        0.397959
45206  0.068493       0.600000      0.000000      0.000000        0.397959
45207  0.643836       0.533333      0.000000      0.000000        0.316327
45208  0.520548       0.533333      0.000000      0.000000        0.316327
45209  0.287671       0.666667      0.000000      0.000000        0.397959
45210  0.561644       0.733333      0.000000      0.000000        0.357143
45211  0.205479       0.533333      0.000000      0.000000        0.397959
45212  0.424658       0.533333      0.000000      0.000000        0.397959
45213  0.602740       0.533333      0.000000      0.000000        0.479592
45214  0.191781       0.533333      0.000000      0.000000        0.397959
45215  0.109589       0.533333      0.000000      0.000000        0.397959
45216  0.424658       0.866667      0.000000      0.000000        0.397959
45217  0.219178       0.800000      0.000000      0.000000        0.397959
45218  0.301370       0.800000      0.000000      0.000000        0.357143
45219  0.287671       0.800000      0.000000      0.000000        0.500000
45220  0.369863       0.800000      0.054551      0.000000        0.397959
45221  0.246575       0.800000      0.000000      0.000000        0.602041

[45222 rows x 5 columns]

In [83]:
test[num_feat_names].iloc[0,0]

39